@font-face {
  font-family: 'Zoho_Puvi_Thin';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_ThinItalic';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Thin.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_Light';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_LightItalic';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Light.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_ExtraLight';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extralight.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extralight.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extralight.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extralight.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_Regular';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_RegularItalic';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Regular.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_Medium';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Medium.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Medium.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Medium.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Medium.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_SemiBold';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_SemiBoldItalic';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Semibold.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_Bold';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_BoldItalic';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Bold.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_ExtraBold';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrabold.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrabold.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrabold.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrabold.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_ExtraBoldItalic';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_Black';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_BlackItalic';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Black.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zoho_Puvi_ExtraBlack';
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.eot');
  src: url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.eot')
      format('embedded-opentype'),
    url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('https://static.zohocdn.com/zohofonts/zohopuvi/4.0/Zoho_Puvi_Extrablack.otf')
      format('opentype');
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Zoho_Puvi_Regular';
}

.menu {
  background-color: #2539aa;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  & ul {
    display: flex;
    list-style-type: none;
    color: #fff;
    font-family: 'Zoho_Puvi_Medium';
    font-size: 1rem;
    gap: 68px;

    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }
}

.entrance {
  background-color: #2539aa;
  background-image: url('./src/img/backgroundCity.png');
  background-repeat: no-repeat;
  background-position: bottom;

  & h1 {
    font-family: 'Zoho_Puvi_ExtraBold';
    color: #fff;
    font-size: 2.875rem;
    text-align: center;
    width: 90%;
    margin-top: 92px;
    margin-bottom: 20px;
    & span {
      font-family: 'Zoho_Puvi_ExtraBold';
      color: #41d385;
    }
  }
  & p {
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    width: 80%;
  }
}
.image {
  margin-top: 103px;
  @media (max-width: 768px) {
    width: 80%;
  }
  @media (max-width: 550px) {
    width: 50%;
  }
}

.demo {
  cursor: pointer;
  border: none;
  background-color: #ea5154;
  padding: 19px 38px;
  color: #fff;
  font-family: 'Zoho_Puvi_SemiBold';
  font-size: 1.125rem;
  margin-top: 30px;
  &:hover {
    background-color: #e6393c;
    transition: 0.5s;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.description {
  background-color: #e4e9f4;
  padding-top: 300px;
  padding-bottom: 350px;

  & h1 {
    font-family: 'Zoho_Puvi_Bold';
    color: #000;
    font-size: 2.25rem;
    text-align: center;
    width: 40%;
  }
}

.text-and-image {
  display: flex;
  align-items: center;
  margin-top: 82px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;

    & h1 {
      font-family: 'Zoho_Puvi_Bold';
      font-size: 1.625rem;
      width: 100%;
      text-align: left;
    }

    & p {
      font-size: 1.0625rem;
      max-width: 70%;
    }

    & button {
      background-color: #2539ab;
      padding: 16px 20px;
      border: none;
      border-radius: 7px;
      color: #fff;
      font-family: 'Zoho_Puvi_Bold';
      font-size: 1.0625rem;
      max-width: 50%;
    }

    & h3 {
      font-family: 'Zoho_Puvi_Bold';
      font-size: 1.0625rem;
    }
  }
  & a {
    text-decoration: none;
    color: #3c61be;
    font-family: 'Zoho_Puvi_SemiBold';
  }
}

.programs {
  display: flex;
  align-items: center;
  gap: 32px;
  @media (max-width: 768px) {
    scale: 0.5;
  }

  @media (max-width: 420px) {
    flex-direction: column;
  }
}

.program-image {
  border-radius: 7px;
  margin-top: 32px;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.additional {
  padding-bottom: 236px;

  & h1 {
    font-family: 'Zoho_Puvi_Bold';
    font-size: 2.25rem;
    width: 60%;
    text-align: center;
  }

  & p {
    font-size: 1.0625rem;
    width: 50%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 42px;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 60%;

  .service-button {
    background-color: #f7f7f7;
    padding: 8px;
    border-radius: 38px;
    display: flex;
    align-items: center;
    font-family: 'Zoho_Puvi_SemiBold';
    font-size: 1.0625rem;
  }
}

.demo-footer {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2439ab;
  padding: 80px 116px;
  border-radius: 17px;
  color: #fff;

  & p {
    font-family: 'Zoho_Puvi_Bold';
    font-size: 2.375rem;
    text-align: center;
    width: 100%;
  }

  @media (max-width: 480px) {
    padding: 48px;
  }
}

.transition-div {
  width: 70%;
  background-color: #fff;
  padding: 75px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  margin-top: -75px;
  margin-bottom: -150px;
  box-shadow: 0px 73px 76px #44549538;

  & h1 {
    font-family: 'Zoho_Puvi_Medium';
    color: #000;
    font-size: 1.875rem;
    margin: 0;
  }
  & #leo {
    font-family: 'Zoho_Puvi_Bold';
    color: #000;
  }
}

.brandings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.second-transition-div {
  width: 70%;
  background-color: #fff8ea;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-top: -275px;
  margin-bottom: 120px;
  box-shadow: 0px 43px 96px #00000029;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & img {
    width: 90px;
  }

  & h1 {
    text-align: left;
    font-family: 'Zoho_Puvi_Light';
    font-size: 2rem;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 32px;
  }

  & p {
    font-family: 'Zoho_Puvi_SemiBold';
    font-size: 1.125rem;
  }
}

.download {
  display: flex;
  flex-direction: column;

  & button {
    background-color: #000;
    color: #fff;
    padding: 16px 32px;
    align-self: center;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #202020;
      transition: 0.5s;
    }
  }
}
